@model VM.DocumentDetailsVM
@{
    ViewData["Title"] = "DocumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Document/Document.js"></script>



<h4 class="mb-4 h5 mt-5">Document Upload</h4>

<form asp-action="DocumentDetails" enctype="multipart/form-data">
    <div class="row">
        <div class="mb-3 col-md-6">
            <div class="mb-4">
                <label asp-for="BankPassBook" class="form-label">BankPassBook</label>
                <div class="position-relative" style="width:100%;">
                    <img class="image icon-shape icon-xxxl bg-light rounded-4" style="width:100%;" src="~/assets/images/icons/bakery.svg" alt="Image">
                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                        <input type="file" class="file-input" asp-for="BankPassBook">
                        <span class="icon-shape icon-sm rounded-circle" style="background:#29992545;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="BankPassBook" class="text-danger font-weight-bold"></span>
            </div>
        </div>
        <div class="mb-3 col-md-6">
            <div class="mb-4">
                <label asp-for="Aadhaar" class="form-label">Aadhaar</label>
                <div class="position-relative" style="width:100%;">
                    <img class="image icon-shape icon-xxxl bg-light rounded-4" style="width:100%;" src="~/assets/images/icons/bakery.svg" alt="Image">
                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                        <input type="file" class="file-input" asp-for="Aadhaar">
                        <span class="icon-shape icon-sm rounded-circle" style="background:#29992545;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Aadhaar" class="text-danger font-weight-bold"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-md-6">
            <div class="mb-4">
                <label asp-for="Singnature" class="form-label">Singnature</label>
                <div class="position-relative" style="width:100%;">
                    <img class="image icon-shape icon-xxxl bg-light rounded-4" style="width:100%;" src="~/assets/images/icons/bakery.svg" alt="Image">
                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                        <input type="file" class="file-input" asp-for="Singnature">
                        <span class="icon-shape icon-sm rounded-circle" style="background:#29992545;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Singnature" class="text-danger font-weight-bold"></span>
            </div>
        </div>
    </div>
    <div class="mb-3 col-md-4">
        <div class="row">
            <div class="mb-3 col-md-6">
                <input type="submit" value="Prev" name="btnPrev" class="btn btn-info" />
            </div>
            <div class="mb-3 col-md-6">
                <input type="submit" value="Finish" name="btnFinish" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

