@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="alert alert-danger">
    <h5>Please contact us on <span class="text-success">facturafund@gmail.com</span></h5>
</div>